body {
    font-family: 'Oswald', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
 
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
  }
  
  .navbar a {
    color: #f05454;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #d43c3c;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 10px; 
    overflow: visible;
    display: flex;
    align-items: flex-start;
  }
 
  .carousel img {
    min-width: 100%; 
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
 

  .shoe-card {
    position: top;
    width: 400px; 
    height: 550px; 
    background: linear-gradient(145deg, #1d1d1d, #232323);
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: moveAcross 20s linear infinite;
  }
  
  .shoe-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  
  .shoe-image-container {
    width: 100%;
    height: 300px; 
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #555;
  }
  
  .shoe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.2) grayscale(0.2);
  }
  
 
  .shoe-details {
    text-align: center;
    margin-top: 15px;
  }
  
  .shoe-brand {
    color: #f05454;
    text-transform: uppercase;
    font-size: 1.8em; 
  }
  
  .shoe-color span,
  .shoe-size span,
  .shoe-creator span,
  .shoe-price span {
    color: #29a19c;
    font-weight: bold;
  }
  
 
  .buy-now-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.2em; 
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #121212;
    background-color: #f05454;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-now-button:hover {
    background-color: #d43c3c;
  }
  
  
  @keyframes moveAcross {
    0% {
      transform: translateX(100vw);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(-100vw);
      opacity: 0;
    }
  }

  